**/*.bat ident
**/*.cmd ident
**/*.sh ident
**/*.asl ident
**/*.properties ident
**/*.yaml ident
**/*.yml ident
**/*.java ident
**/*.jsp ident
**/*.ftl ident
**/*.xml ident
**/*.html ident
**/*.css ident
**/*.js ident
**/*.md ident
